*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
}

/* LAYOUT */
.container{
  display:flex;
  height:100%;
}

/* LEFT SIDE */
.left{
  flex:1;
  background: url('signin img.jpg') no-repeat center;
  background-size: cover;
  position:relative;
  filter: blur(px) grayscale(10%);
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay h1{
  color:fff;
  font-size:60px;
  letter-spacing:2px;
}

.overlay span{
  color:#6C5CE7;
}

/* RIGHT SIDE */
.right{
  width:49%;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* FORM */
.form-box{
  width:80%;
  color:#fff;
}

.form-box h2{
  margin-bottom:10px;
  font-size: 15px;
  color:#fff;
}

.desc{
  font-size:10px;
  color:#aaa;
  margin-bottom:25px;
}

/* INPUTS */
.input-box{
  margin-bottom:15px;

}

.input-box input{
  width:70%;
  border-radius: 15px;
  padding:8px;
  background:transparent;
  border:1px solid #444;
  color:#fff;
  outline:none;
  font-size: 10px;
}

.input-box input:focus{
  border-color:#6C5CE7;
}

/* FORGOT */
.forgot{
  font-size:10px;
  margin:10px 0 20px;
  color:#aaa;
  cursor:pointer;
}

/* BUTTON */
button{
  width:135px;
  border-radius: 15px;
  padding:7px;
  background:transparent;
  border:1px solid #888;
  color:#fff;
  cursor:pointer;
  transition:0.3s;
  font-size: 10px;
}

button:hover{
  border-color:#6C5CE7;
  background-color:#6C5CE7;
}
.signup{
  font-size:9px;
  margin:10px 0 20px;
  color:#fff;
  cursor:pointer;
}